.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: white;

}

.headerlinks{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style: none;

}

.wait{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
}

.second{
    display: flex;
    justify-content: space-evenly;
}

.Upper{
    background-color: #1f2937;

}

